
body {
      background-color:#BDBDBD;
}

a {
      color: black;
      text-decoration: none;
}

a:hover {
      color: #5D5F5D;
      text-decoration: underline;
}

.links {
      text-align: right;
      margin-top: 35px;
      animation-name: AnimLinks;
      animation-duration: 1s;
}

@keyframes AnimLinks {
      from {
            opacity: 0;            
      }
      to {
            opacity: 1;
      }
}

.titulo {
      text-align: center;
      background-color: whitesmoke;
      font-size: 30px;
      font-family: Georgia;
      font-weight: bold;
      animation-name: AnimaText;
      animation-duration: 2s;
}

@keyframes AnimaText {
      from {
            opacity: 0;            
      }
      to {
            opacity: 1;
      }
}

.ftmembros {
      display: flex;           
      justify-content: center;
      margin-top: 20px;       
}

.ftmembros img {
      max-width: 90%;
      height: auto;
      display: block;
}