/*@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
font-family: "New Rocker", system-ui;
font-weight: 400;
font-style: normal;*/

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
      background: radial-gradient(circle, rgba(255, 255, 255, 1), rgba(212, 212, 212, 1), rgba(79, 79, 79, 1) 80%, black);
      overflow-x: hidden;
}

header a {
      color: white;
      text-decoration: none;
    }

header a:hover {
      color: #7A7A73;
      text-decoration: underline;
}

.link_header {
      text-align: right;
      animation-name: linksAnim;
      animation-duration: 2s;
}

@keyframes linksAnim {
      from {
            opacity: 0;
      }

      to {
            opacity: 1;
      }
}


header {
      height: 700px;
      width: auto;
      padding: 10px;
      padding-left: 10px;
      background-image: url(arctic.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      background-color: rgba(0, 0, 0, 0.3);
      font-family: Georgia, serif;
      margin-top: 0px;
    }

.titulo {
      font-family: "Michroma", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: clamp(40px, 10vw, 90px);
      padding-top: 120px;
      text-align: left;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 1.0);
      color: black;
      text-shadow: 2px 2px 10px white;
      animation-name: animTitulo;
      animation-duration: 2s;
}

@keyframes animTitulo {
      0% {
            opacity: 0;
            /*transform: scale(0) rotate(45deg);*/
            transform: translateX(0);
      }

      50% {
            opacity: 0.5;
            /*transform: scale(1) rotate(0deg);*/
            transform: translateX(30px);
      }

      90% {
            opacity: 1;
            transform: translateX(0);
      }
}

.subtitulo {
      color: white;
      padding-top: 60px;
      animation-name: subAnim;
      animation-duration: 2s;
}

@keyframes subAnim {
      0% {
            opacity: 0;
            transform: translateX(0px);
      }

      50% {
            opacity: 0.5;
            transform: translateX(5px);
      }

      100% {
            opacity: 1;
            transform: translateX(0px);
      }
}


.texto {
      font-size: 18px;
      font-family: times, serif;
      text-align: center;
      word-spacing: 4px;
      line-height: 1.4;
      padding-top: 50px;
      border-radius: 3px;
      margin-top: 0;
}

a {
      color: black;
}

ul {
      list-style-image: url(starsemfundoPequena.png);
}

.titTextos {
      font-size: 24px;
      font-family: Garamont;
      position: sticky;
      top: 0;
      background-color: darkgray;
}

@media print {
  body {
    background: white;
    font-size: 12pt;
    line-height: 1.4;
  }

  div, li{
      page-break-inside: avoid;
  }

  .mapa {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  aspect-ratio: 16 / 9; /* mantém proporção do mapa */
}

.mapa iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}